/* validation text */

.chk-input label {
    font-size: 14px;
    color: #f47523
}


/* checkbox */

input[type="checkbox"] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}