@charset "utf-8";
i, em{font-style:normal}
.owl-item {float:left;}
.owl-carousel .owl-wrapper {display: none;position:relative;-webkit-transform:translate3d(0px, 0px, 0px);-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.owl-stage-outer{overflow:hidden;}
.owl-stage:after{display:block; content:"";clear:both;}
.owl-stage-outer:after{display:block; content:"";clear:both;}
.disabled{display:none}



/*=======================================================
  skipNavi
=========================================================*/
#skipNavi {height:0;}
#skipNavi .skipLink {position:absolute;top:-1000px;left:-1000px;overflow:hidden;z-index:5000;}
#skipNavi .skipLink:focus, #skipNavi .skipLink:active {top:0;left:0;padding:10px 20px;background:#1e64ba;color:#fff;}


/*=======================================================
  input & select
=========================================================*/
.field{font-size:0; position:relative}
.field:after{display:block; content:"";clear:both;}
.field.choice{}
.field.choice .chk-radio:nth-child(n+2){margin-left:20px;}
.field.choice .chk-check:nth-child(n+2){margin-left:20px;}

.chk-input {display:inline-block; vertical-align:top; position:relative; box-sizing:border-box;}
.chk-input input{height:35px; letter-spacing:-0.03em; border:1px solid #c7c7c7; background:#fff; color:#666; padding:0 10px;font-size:15px; box-sizing:border-box; display:block; width:100%; position:relative;}
.chk-input.active input{color:#000;}
.chk-input input:focus{color:#000}
.chk-input textarea{height:190px; letter-spacing:-0.03em; border:1px solid #c7c7c7; background:#fff; color:#666; padding:20px 10px;font-size:15px; box-sizing:border-box; display:block; width:100%; position:relative; resize:none;}
.chk-input input:placeholder{color:#aaa !important; opacity:0.8 !important}	
.chk-input.readonly input{background:#f2f2f2}
	@media only screen and (max-width:1200px){
		
	}
	@media only screen and (max-width:999px){
		
	}
	@media only screen and (max-width:680px){
		.chk-input input{font-size:14px; height:30px;}
		.chk-input textarea{font-size:14px; }

		.field.choice .chk-radio:nth-child(n+2){margin-left:15px;}
		.field.choice .chk-check:nth-child(n+2){margin-left:15px;}
	}
	@media only screen and (max-width:480px){
		
	}

	
.chk-select{position:relative; box-sizing:border-box;display:inline-block; vertical-align:top;background:#fff; }
.chk-select:after{background:url(/assets/images/select-arrow02.jpg) no-repeat center center; background-size:10px auto; position:absolute; width:15px; height:30px; margin-top:-15px; right:12px; top:50%; display:block; content:""; z-index:3}
.chk-select select{font-size:15px; border:1px solid #ddd; width:100%; height:35px; color:#111; box-sizing:border-box; padding:0 30px 0 10px; -webkit-appearance:none; -moz-appearance:none;background:none; appearance:none;width:100%; margin:0;  position:relative; z-index:5; cursor:pointer; letter-spacing:-0.03em;}
.chk-select select::-ms-expand{display:none;}
.chk-select.active select{color:#000;}
	@media only screen and (max-width:1200px){
		.chk-select select{height:50px}
	}
	@media only screen and (max-width:999px){
		.chk-select select{font-size:15px; height:45px;}
	}
	@media only screen and (max-width:680px){
		.chk-select:after{right:10px;background-size:8px auto;}
		.chk-select select{font-size:14px; height:40px;}
	}
	@media only screen and (max-width:480px){
		
	}
	

.chk-radio {display:inline-block; font-size:0px; vertical-align:middle; line-height:120%; color:#000;}
.chk-radio input[type="radio"]{position: absolute; width:1px; height:1px; padding: 0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border: 0; }
.chk-radio input[type="radio"] + label{display:block; position: relative; padding-left:28px; font-size:13px; color:#555; line-height:20px; min-height:20px; word-break: keep-all;letter-spacing:-0.04em;cursor:pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.chk-radio input[type="radio"] + label:before { content:''; position: absolute; left:0; top:0px; width:20px; height:20px; text-align:center; background:#fff; border:1px solid #ccc; border-radius:100%; box-sizing:border-box; }
.chk-radio input[type="radio"] + label:after {}
.chk-radio input[type="radio"]:checked + label{color:#000;}
.chk-radio input[type="radio"]:checked + label:before{border-color:#111}
.chk-radio input[type="radio"]:checked + label:after { content:''; position:absolute; top:6px; left:6px; width:8px; height:8px; background:#111; border-radius:100%; }
	
.chk-check{display:inline-block; font-size:0; vertical-align:top; }
.chk-check input[type="checkbox"]{position: absolute; width:1px; height: 1px; padding: 0; margin:-1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.chk-check input[type="checkbox"] + label{display:block; position:relative; padding-left:28px; min-height:20px; letter-spacing:-0.02em; line-height:20px; word-break: keep-all;font-size:13px; cursor:pointer; color:#111}
.chk-check input[type="checkbox"] + label:before{content:''; position: absolute; left:0px; top:0px; box-sizing:border-box;width:20px;height:20px; position:absolute; background:#fff; left:0; top:0; border:1px solid #dedede; }
.chk-check input[type="checkbox"]:checked + label{color:#111}
.chk-check input[type="checkbox"]:checked + label:before{background:url(/assets/images/check-on.png) no-repeat center center;  background-size:70% auto;}
	@media only screen and (max-width:999px){
		
	}
	@media only screen and (max-width:680px){
		
	}
	@media only screen and (max-width:480px){
		
	}



/*=======================================================
  sel-box
=========================================================*/
.sel-box{position:relative; width:200px;}
.sel-box .sel-btn{display:block; line-height:45px; font-size:15px; color:#666; letter-spacing:-0.03em; position:relative;}
.sel-box .sel-btn:after{width:14px;height:14px; position:absolute;right:7px; top:50%;margin-top:-7px;display:block; content:"";background:url(/assets/images/search-tarrow.png) no-repeat center center;}
.sel-box .sel-btn.active:after{background-image:url(/assets/images/search-tarrowo.png)}
.sel-box ul{background:#fff; display:none; width:100%; position:absolute; left:0; top:45px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)  ; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)  ; -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)  ; }
.sel-box li{}
.sel-box li a{display:block;line-height:30px; padding:0 10px;font-size:14px; letter-spacing:-0.03em; color:#555;}
.sel-box li.active a{color:#111; background:#e7f6fd;}
	@media only screen and (max-width:999px){
	    .sel-box .sel-btn{font-size:13px;}
		.sel-box.sel-box li a{font-size:13px;}
	}
	@media only screen and (max-width:680px){
		
	}
	@media only screen and (max-width:480px){
		
	}
	
/*=======================================================
  paging-wrap
=========================================================*/
.paging-wrap{margin-top:40px;font-size:0px; text-align:center; display:block; position:relative;}
.paging-wrap a.ctrl{display:inline-block;vertical-align:top;text-decoration: none; height:24px; font-size:11px; color:#666; line-height:24px; box-sizing:border-box; margin:0 3px;}
.paging-wrap li, .paging-wrap ul{display:inline-block; vertical-align:top;}
.paging-wrap ul{padding:0 10px}
.paging-wrap li{margin:0 5px;}
.paging-wrap li a{display:block; position:relative; text-decoration: none;min-width:24px; padding:0 3px; border:1px solid transparent; border-radius:3px;box-sizing:border-box ;font-size:12px; color:#555; text-align:center;line-height:22px; height:24px;font-weight:400;box-sizing:border-box;}
.paging-wrap li a.active, .paging-wrap li a.active:hover{color:#fe4e10;font-weight:700; border:1px solid #dedede; background:#fff;}

.paging-wrap a.prev{background:url(/assets/images/page-prev.jpg) no-repeat left center; padding-left:15px;}
.paging-wrap a.next{background:url(/assets/images/page-next.jpg) no-repeat right center; padding-right:15px;}

.paging-wrap .num{display:none;vertical-align:top; padding:0 20px; color:#666; font-size:14px; line-height:30px;}
.paging-wrap .num span{font-weight:700;color:#111;}
	@media only screen and (max-width:1200px){
		
	}
	@media only screen and (max-width:999px){
		
	}
	@media only screen and (max-width:680px){
		.paging-wrap{margin-top:20px;}
		.paging-wrap ul{padding:0 5px}
		.paging-wrap li{margin:0 3px;}
	}
	@media only screen and (max-width:480px){
		
	}


/*=======================================================
  btns
=========================================================*/
.bb-btn, .bw-btn, .by-btn{min-width:90px;box-sizing:border-box; height:35px;border:1px solid #626262; line-height:33px; margin:0 0 0 5px;font-size:14px; text-align:center; display:inline-block;vertical-align:top;}
.bb-btn{background:#626262; color:#fff;}
.bb-btn:hover{background:#111; border:1px solid #111}
.bw-btn{background:#fff; color:#666;}
.bw-btn:hover{background:#f0f0f0; border-color:#444}
.by-btn{background:#fecb02; color:#fff;border-color:#fecb02;}
.by-btn:hover{background:#ff9333; border-color:#ff9333}

	@media only screen and (max-width:1200px){
		
	}
	@media only screen and (max-width:999px){
		.bb-btn, .bw-btn, .by-btn{min-width:80px;}
	}
	@media only screen and (max-width:680px){
		.bb-btn, .bw-btn, .by-btn{min-width:70px;height:30px; line-height:28px;}
	}
	@media only screen and (max-width:480px){
		
	}

