@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 100;
    src: url(/assets/fonts/GmarketSansLight.woff2) format('woff2'), url(/assets/fonts/GmarketSansLight.woff) format('woff'), url(/assets/fonts/GmarketSansLight.otf) format('opentype');
}

@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/GmarketSansMedium.woff2) format('woff2'), url(/assets/fonts/GmarketSansMedium.woff) format('woff'), url(/assets/fonts/GmarketSansMedium.otf) format('opentype');
}

@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/GmarketSansBold.woff2) format('woff2'), url(/assets/fonts/GmarketSansBold.woff) format('woff'), url(/assets/fonts/GmarketSansBold.otf) format('opentype');
}

html,
body {
    width: 100%;
    font-family: 'Noto Sans KR', "Malgun Gothic";
    font-weight: 400;
}

#doc {
    position: relative;
    min-width: 360px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}

#doc.show {
    transition-delay: 0.2s;
    opacity: 1;
}

body {
    overflow-y: visible;
    overflow-x: hidden;
}

@media only screen and (min-width:1000px) {
    body {
        overflow-y: visible !important
    }
}


/*=======================================================
  css default
=========================================================*/

.div-cont {
    position: relative;
    text-align: left;
    margin: 0 auto 0 auto;
    max-width: 1060px;
    box-sizing: border-box;
    padding: 0 20px;
}

.div-cont:after {
    clear: both;
    content: "";
    display: block;
}

.body-slide-wr {
    position: relative;
    width: 100%;
    transition: margin 0.3s ease;
}

.body-slider-ovclick {
    position: fixed;
    z-index: 2600;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer
}

.header-slider-ovclick {
    position: fixed;
    z-index: 2010;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer
}

@media only screen and (min-width:1000px) {
    .header-slider-ovclick {
        display: none !important
    }
}


/*=======================================================
    z-index dafault
=========================================================*/

#header-wrap {
    position: absolute;
    z-index: 2005;
}

#container-wrap {
    position: relative;
    z-index: 1004;
}

#footer-wrap {
    position: relative;
    z-index: 1001;
}


/*=======================================================
    #header-wrap 
=========================================================*/

#header-wrap {
    width: 100%;
    left: 0;
    top: 0;
    min-width: 360px;
}

#header-wrap:before {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
    width: 20000px;
    margin-left: -10000px;
    display: block;
    content: "";
    z-index: -1;
}

#header {
    position: relative;
    text-align: center;
    height: 80px;
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

#header .inner {}

#header-wrap.fix {
    position: fixed;
}

.sub #header-wrap:before,
#header-wrap.fix:before {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15)
}

#logo {
    width: 201px;
    height: 36px;
    position: absolute;
    left: 20px;
    top: 22px;
    z-index: 2009
}

#logo a {
    display: block;
    height: 36px;
    background: url(/assets/images/logo.png) no-repeat left center;
    background-size: 100% auto;
}

#header .bt-mnall {
    position: absolute;
    display: none;
    z-index: 2599;
    width: 30px;
    height: 30px;
    background: url(/assets/images/bt-mnallo.png) no-repeat center center;
    background-size: 26px auto;
    right: 15px;
    bottom: 15px;
}

#header .bt-mnclose {
    position: fixed;
    right: -60px;
    top: 0;
    width: 60px;
    height: 60px;
    border-bottom: 1px solid #111;
    z-index: 2305;
    border: 0;
    background: url(/assets/images/bt-mnclosew.png) no-repeat center center #000;
    background-size: 40% auto;
    -webkit-transition: right 0.3s ease-out;
    -moz-transition: right 0.3s ease-out;
    -o-transition: right 0.3s ease-out;
    transition: right 0.3s ease-out;
}

#header .bt-mnclose.active {
    transition-delay: 0.1s;
    right: 260px
}

#header .bt-search {
    position: absolute;
    z-index: 2009;
    width: 30px;
    height: 30px;
    top: 50%;
    margin-top: -16px;
    right: 60px;
    background: url(/assets/images/bt-search.png) no-repeat center center;
}

.gnb.desktop {
    position: absolute;
    right: 15px;
    top: 24px;
    padding-right: 30px;
    z-index: 2008
}

.gnb.desktop.search {
    right: 155px;
    padding-right: 0;
}

.gnb.desktop:after {
    display: block;
    content: "";
    clear: both;
}

.gnb.desktop .member {
    display: inline-block;
    vertical-align: top;
}

.gnb.desktop .member:after {
    display: block;
    content: "";
    clear: both
}

.gnb.desktop .member li {
    float: left;
    position: relative;
}

.gnb.desktop .member li:nth-child(1) {
    z-index: 12;
}

.gnb.desktop .member li:nth-child(n+2) {
    margin-left: -1px;
}

.gnb.desktop .member li a {
    display: block;
    line-height: 29px;
    height: 28px;
    border: 1px solid #999;
    font-family: 'GmarketSans';
    font-size: 11px;
    color: #111;
    min-width: 64px;
    text-transform: uppercase;
}

.gnb.desktop .member li a.mypage-btn,
.gnb.desktop .member li a.find-btn {
    background: #111;
    color: #fff;
    border-color: #111;
    min-width: 80px;
}

.gnb.desktop .language {
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;
}

.gnb.desktop .language:after {
    display: block;
    content: "";
    clear: both
}

.gnb.desktop .language li {
    float: left;
    position: relative;
}

.gnb.desktop .language li:nth-child(n+2) {
    margin-left: 20px;
}

.gnb.desktop .language li:nth-child(n+2):before {
    width: 1px;
    height: 12px;
    top: 50%;
    margin-top: -5px;
    left: -10px;
    background: #aaa;
    display: block;
    content: "";
    position: absolute;
}

.gnb.desktop .language li a {
    display: block;
    line-height: 34px;
    height: 30px;
    color: #555;
    font-family: 'GmarketSans';
    font-size: 12px;
    font-weight: 400;
}

.gnb.desktop .language li.active a {
    font-weight: 700
}

.gnb.desktop .plus {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    background: url(/assets/images/gnb-plus.png) no-repeat center center;
}

.top-search {
    display: none;
    position: absolute;
    min-width: 320px;
    left: 0;
    top: 59px;
    width: 100%;
    box-sizing: border-box;
}

.top-search:after {
    background: #f4f4f4;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    position: absolute;
    left: 50%;
    margin-left: -10000px;
    width: 20000px;
    top: 0;
    height: 100%;
    display: block;
    content: "";
    z-index: -1;
}

.top-search.over {
    display: block;
}

.top-search .chk-input {
    width: 100%;
}

.top-search .chk-input input {
    height: 40px;
    padding: 0 30px 0 5px;
    font-size: 14px;
    padding-right: 40px;
    font-weight: 300;
    color: #111;
    letter-spacing: -0.03em;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    box-sizing: border-box;
    width: 100%;
    background: none;
}

.top-search .chk-input.active input {
    color: #111 !important
}

.top-search .close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 7px;
    background: url(/assets/images/bt-mnclose.png) no-repeat center center;
    background-size: 45% auto
}

.top-search .enter {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 55px;
    top: 7px;
    border: none;
    background: url(/assets/images/search-enter.png) no-repeat center center;
    background-size: 45% auto
}

.top-search .ov {
    /* max-width:1300px; margin:0 auto;  */
    position: relative;
    box-sizing: border-box;
    padding: 7px 55px 7px 15px;
}

@media only screen and (max-width:1180px) {
    #logo {
        width: 170px;
        height: 30px;
        top: 24px;
    }
    #logo a {
        height: 30px;
    }
    .gnb.desktop .member li a {
        min-width: 60px;
        font-size: 10px;
    }
    .gnb.desktop .member li a.mypage-btn,
    .gnb.desktop .member li a.find-btn {
        min-width: 68px;
    }
    .gnb.desktop .language {
        margin-left: 20px;
    }
    .gnb.desktop .language li:nth-child(n+2) {
        margin-left: 15px;
    }
    .gnb.desktop .language li:nth-child(n+2):before {
        left: -8px
    }
    .gnb.desktop .language li a {
        font-size: 11px;
        line-height: 32px;
    }
}

@media only screen and (min-width:1000px) {
    .top-search {
        display: block !important;
        left: auto;
        right: 20px;
        top: 19px;
        min-width: 120px;
        width: 120px;
        z-index: 2009
    }
    .top-search:after {
        display: none;
    }
    .top-search .ov {
        padding: 0;
    }
    .top-search .chk-input input {
        height: 35px;
        font-size: 13px;
        padding: 0 30px 0 0;
        border-color: #ccc;
    }
    .top-search .close {
        display: none;
    }
    .top-search .enter {
        background-image: url(/assets/images/search-entero.png);
        background-size: 60% auto;
        top: 0;
        right: -3px;
        width: 30px;
        height: 35px;
    }
    #header .bt-search {
        display: none !important;
    }
}

@media only screen and (max-width:999px) {
    .gnb.desktop {
        display: none
    }
    #header {
        height: 60px;
    }
    #header .bt-mnall {
        display: block;
    }
    #logo {
        top: 14px;
    }
}

@media only screen and (max-width:680px) {
    #logo {
        left: 15px;
    }
}


/*=======================================================
		#mainNavi-wrap desktop
	=========================================================*/

@media only screen and (min-width:1000px) {
    #mainNavi-wrap {
        height: 44px;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 15px;
        width: 100%;
        display: block;
        z-index: 2007;
    }
    #mainNavi-wrap .tmn-tit {
        display: none
    }
    #mainNav {
        position: relative;
    }
    .tm-top {
        display: none;
    }
    .gnb.mobile {
        display: none;
    }
    .topmenu {
        display: block;
        position: relative;
        text-align: center;
        font-size: 0;
    }
    .topmenu:after {
        display: block;
        content: "";
        clear: both;
    }
    .topmenu .tgl-btn {
        display: none;
    }
    .topmenu .mn_a1 {
        height: 23px;
        padding: 15px 20px 15px 20px;
        font-family: 'GmarketSans';
        text-transform: uppercase;
        font-size: 15px;
        line-height: 24px;
        display: block;
        color: #111;
        font-weight: 400;
        letter-spacing: -0.03em;
        position: relative;
        text-align: center;
    }
    .topmenu .mn_l1 {
        display: inline-block;
        vertical-align: top;
        position: relative;
    }
    .topmenu .mn_l1:first-child {
        margin-left: -70px;
    }
    .topmenu .mn_l1.is-open .mn_a1,
    .topmenu .mn_l1.is-over .mn_a1,
    .topmenu .mn_l1.over .mn_a1,
    .topmenu .mn_l1 .mn_a1:hover {
        color: #f47523
    }
    .topmenu .mn_l1:nth-child(n+5) .depth2-wrap {
        right: 0;
        left: auto;
    }
    .topmenu .mn_l1:nth-child(n+5) .depth2 {
        text-align: right;
        padding-right: 40px;
    }
    .topmenu .mn_l1:nth-child(5) .depth2-wrap {
        right: -120px !important;
    }
    .topmenu .mn_l1:nth-child(6) .depth2-wrap {
        right: -120px !important;
    }
    .topmenu .depth2-wrap {
        position: absolute;
        top: 65px;
        display: none;
        visibility: hidden;
        padding: 0;
        width: 820px !important;
        left: -6px;
    }
    .topmenu .depth2 {
        position: relative;
        font-size: 0;
        padding-left: 20px;
        font-size: 0;
        text-align: left;
    }
    .topmenu .depth2:after {
        display: block;
        content: "";
        clear: both;
    }
    .topmenu .depth2 .mn_l2 {
        display: inline-block;
        vertical-align: top;
        margin-left: 40px;
    }
    .topmenu .depth2 .mn_l2:first-child {
        margin-left: 0;
    }
    .topmenu .depth2 .mn_a2 {
        display: block;
        position: relative;
        color: #111;
        font-size: 14px;
        line-height: 45px;
        letter-spacing: -0.01em;
    }
    .topmenu .depth2 .mn_a2:hover,
    .topmenu .depth2 .mn_l2.over .mn_a2 {
        color: #111;
        font-weight: 600;
    }
    #mainNavi-wrap .ovbar {
        position: absolute;
        height: 6px;
        top: 59px;
        overflow: hidden;
    }
    #mainNavi-wrap .ovbar:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -40%;
        width: 80%;
        height: 2px;
        background: #f47523;
        content: "";
        z-index: 200;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    #header-wrap .mn-bar {
        position: absolute;
        background: #eee;
        border-bottom: 1px solid #dedede;
        left: 0;
        top: 80px;
        width: 20000px;
        left: 50%;
        margin-left: -10000px;
        z-index: -1;
    }
}

@media only screen and (min-width:1000px) and (max-width:1180px) {
    .topmenu .mn_l1:first-child {
        margin-left: -80px;
    }
    .topmenu .mn_a1 {
        padding: 15px 16px
    }
}


/*=======================================================
		#mainNavi-wrap mobile
	=========================================================*/

@media only screen and (max-width:999px) {
    #mainNavi-wrap {
        position: relative;
        z-index: 4300;
        text-align: left;
        height: 0 !important
    }
    #mainNavi {
        position: fixed;
        background: #fff;
        transition: right 0.3s ease;
        z-index: left;
        right: -280px;
        min-width: 260px;
        overflow-y: auto;
        overflow-x: hidden;
        top: 0;
        width: 260px;
        height: 100%;
        /* height:calc(100% - 60px); */
        -webkit-transition: right 0.3s ease-out;
        -moz-transition: right 0.3s ease-out;
        -o-transition: right 0.3s ease-out;
        transition: right 0.3s ease-out;
    }
    #mainNavi.mn-h-open {
        right: 0;
    }
    .tm-top {
        position: relative;
        height: 60px;
        box-sizing: border-box;
        text-align: center;
        background: #fff;
    }
    .tm-top h2 {
        background: url(/assets/images/logo.png) no-repeat left center;
        display: inline-block;
        vertical-align: top;
        background-size: 170px auto;
        height: 60px;
        padding-left: 177px;
        line-height: 55px;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.03em;
        color: #117acf;
        font-family: 'Noto Sans KR';
    }
    .gnb.mobile .member {
        padding: 0 20px;
    }
    .gnb.mobile .member:after {
        display: block;
        content: "";
        clear: both
    }
    .gnb.mobile .member li {
        float: left;
        position: relative;
        width: 50%;
    }
    .gnb.mobile .member li:nth-child(n+2) a {
        border-left: none;
    }
    .gnb.mobile .member li a {
        display: block;
        line-height: 30px;
        text-align: center;
        height: 30px;
        border: 1px solid #999;
        font-family: 'GmarketSans';
        font-size: 11px;
        color: #111;
        min-width: 72px;
        text-transform: uppercase;
    }
    .gnb.mobile .member li a.mypage-btn,
    .gnb.mobile .member li a.find-btn {
        background: #111;
        color: #fff;
        border-color: #111;
        min-width: 84px;
    }
    .gnb.mobile .language {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        font-size: 0;
        text-align: center;
    }
    .gnb.mobile .language:after {
        display: block;
        content: "";
        clear: both
    }
    .gnb.mobile .language li {
        display: inline-block;
        vertical-align: top;
        position: relative;
    }
    .gnb.mobile .language li:nth-child(n+2) {
        margin-left: 30px;
    }
    .gnb.mobile .language li:nth-child(n+2):before {
        width: 1px;
        height: 12px;
        top: 50%;
        margin-top: -5px;
        left: -15px;
        background: #ccc;
        display: block;
        content: "";
        position: absolute;
    }
    .gnb.mobile .language li a {
        display: block;
        line-height: 34px;
        height: 30px;
        color: #555;
        font-family: 'GmarketSans';
        font-size: 11px;
        font-weight: 400;
    }
    .topmenu {
        display: block;
        position: relative;
        padding: 10px 22px;
    }
    .topmenu:after {
        display: block;
        content: "";
        clear: both;
    }
    .topmenu li {
        line-height: 1.3em;
        position: relative;
        text-transform: uppercase
    }
    .topmenu a {
        position: relative;
    }
    .topmenu .mn-txt {
        display: none;
    }
    .topmenu .has-sub .tgl-btn {
        padding: 0;
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 15px;
        top: 8px;
        border: 0;
        z-index: 100;
        text-indent: -9999em;
        background: transparent;
    }
    .topmenu .has-sub .tgl-btn:before {
        content: '';
        position: absolute;
        left: 2px;
        top: 50%;
        width: 15px;
        height: 1px;
        background: #111;
        transform: rotate(90deg);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .topmenu .has-sub .tgl-btn:after {
        content: '';
        position: absolute;
        left: 2px;
        top: 50%;
        width: 15px;
        height: 1px;
        background: #111;
        transform: rotate(0);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .topmenu .mn_l1>.tgl-btn {
        right: 0px;
        top: 14px;
    }
    .topmenu .mn_l1.is-open>.tgl-btn:before,
    .topmenu .mn_l1.over>.tgl-btn:before {
        background: #f47523;
        transform: rotate(0);
    }
    .topmenu .mn_l1.is-open>.tgl-btn:after,
    .topmenu .mn_l1.over>.tgl-btn:after {
        background: #f47523;
        transform: rotate(0);
    }
    .topmenu .mn_l2>.tgl-btn {
        width: 16px;
        height: 16px;
        right: 12px;
        top: 16px;
    }
    .topmenu .mn_l2>.tgl-btn:before,
    .topmenu .mn_l2>.tgl-btn:after {
        height: 1px;
    }
    .topmenu .mn_l2.is-open>.tgl-btn:before,
    .topmenu .mn_l2.over>.tgl-btn:before {
        transform: rotate(0);
    }
    .topmenu .mn_l2.is-open>.tgl-btn:after,
    .topmenu .mn_l2.over>.tgl-btn:after {
        transform: rotate(0);
    }
    .topmenu .mn_a1 {
        font-family: 'GmarketSans';
        position: relative;
        display: block;
        display: block;
        padding: 15px 30px 15px 0;
        overflow: hidden;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.01em;
        white-space: normal;
        cursor: pointer;
        color: #111;
    }
    .topmenu .over .mn_a1,
    .topmenu .is-open .mn_a1 {
        color: #f47523;
    }
    .topmenu .has-sub .is-ico {
        padding: 0;
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0px;
        top: 3px;
        border: 1px solid red;
    }
    .topmenu li>div {
        display: none;
        opacity: 0;
    }
    .topmenu .depth2-wrap {
        position: relative;
        width: auto !important
    }
    .topmenu .depth2 {
        position: relative;
        background: rgba(0, 0, 0, 0.05);
        padding: 12px 0
    }
    .topmenu .depth2:after {
        clear: both;
        content: "";
        display: block
    }
    .topmenu .depth2 a {
        font-size: 14px;
        line-height: 1.3em;
        display: block;
    }
    .topmenu .depth2 .mn_l2:last-child {
        border-bottom: none
    }
    .topmenu .depth2 .mn_a2 {
        display: block;
        padding: 4px 45px 4px 29px;
        position: relative;
    }
    .topmenu .depth2 .mn_a2:before {
        width: 5px;
        height: 1px;
        background: #111;
        position: absolute;
        left: 18px;
        top: 13px;
        display: block;
        content: ""
    }
    .topmenu .depth2 .mn_a2 span.img {
        display: none;
    }
    .topmenu .depth2 .mn_a2 span {
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.85);
    }
    .topmenu .depth2 .mn_a2:hover span,
    .topmenu .depth2 .over .mn_a2 span {
        color: #111;
        font-weight: 500;
    }
    .mn-bar {
        display: none;
    }
}


/* ======================================================
   #container 
=========================================================*/

#container-wrap {
    margin-top: 80px;
}

#container-wrap #contents {
    min-height: 500px;
    padding: 0px 0 50px 0;
}

#container-wrap #contents .member-wrap .lower .enter-btn {
    border: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.03em;
    color: #fff;
    background: #333;
    border-radius: 55px;
    text-align: center;
    -webkit-transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
    -moz-transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
    -o-transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
    transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
}

.sub #container-wrap #contents {
    min-height: 700px;
    padding: 50px 20px 80px 20px
}

.sub #container-wrap #contents.no-padf {
    min-height: 500px;
    padding-bottom: 0
}

.sub #container-wrap #contents.no-padt {
    min-height: 700px;
    padding-top: 0;
}

@media only screen and (max-width:1240px) {
    .sub #container-wrap #contents {
        padding: 40px 20px 80px 20px
    }
}

@media only screen and (max-width:999px) {
    #container-wrap {
        margin-top: 60px;
    }
    .sub #container-wrap #contents {
        min-height: 680px;
        padding: 30px 20px 60px 20px
    }
    .sub #container-wrap #contents.mb-nopad {
        min-height: 680px;
        padding: 0 0 60px 0
    }
    #container-wrap #contents .member-wrap .lower .enter-btn {
        border: 0;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        line-height: 50px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.03em;
        color: #fff;
        background: #333;
        border-radius: 55px;
        text-align: center;
        -webkit-transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
        -moz-transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
        -o-transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
        transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
    }
}

@media only screen and (max-width:680px) {
    .sub #container-wrap #contents {
        min-height: 560px;
        padding: 30px 15px 60px 15px
    }
    #container-wrap #contents .member-wrap .lower .enter-btn {
        border: 0;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        line-height: 50px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.03em;
        color: #fff;
        background: #333;
        border-radius: 55px;
        text-align: center;
        -webkit-transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
        -moz-transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
        -o-transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
        transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
    }
}

@media only screen and (max-width:480px) {
    #container-wrap #contents .member-wrap .lower .enter-btn {
        border: 0;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        line-height: 50px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.03em;
        color: #fff;
        background: #333;
        border-radius: 55px;
        text-align: center;
        -webkit-transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
        -moz-transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
        -o-transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
        transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
    }
}


/* ======================================================
    cont-top & top-btn 
=========================================================*/

#top-vis {
    position: relative;
}

#top-vis .img {}

#top-vis .img img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

#top-vis .txt {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#top-vis h2 {
    font-family: 'GmarketSans';
    font-size: 41px;
    color: #fff;
    font-weight: 700;
    line-height: 1em;
}

#top-vis p {
    font-size: 15px;
    color: #fff;
    line-height: 1.35em;
    margin-top: 7px;
    font-weight: 300;
    letter-spacing: -0.02em;
    word-break: keep-all;
    padding: 0 40px;
}

#top-vis a {
    width: 40px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    line-height: 20px;
    height: 18px;
    font-size: 13px;
    padding: 2px;
    color: #fff;
    text-align: center;
}

.cont-top {
    text-align: left;
    margin-bottom: 55px;
    position: relative;
    z-index: 14;
}

.cont-top h2 {
    font-size: 72px;
    font-weight: 100;
    letter-spacing: -0.055em;
    line-height: 1.1em;
    color: #000;
    position: relative;
}

.cont-top p {
    margin-top: 10px;
    font-size: 30px;
    color: #31a89e;
    font-weight: 300;
    letter-spacing: -0.05em;
    line-height: 1.25em;
}

.top-btn {
    z-index: 2004;
    right: -50px;
    width: 45px;
    height: 45px;
    background: url(/assets/images/top-btn.jpg) no-repeat center center;
    background-size: 100% auto;
    bottom: 20px;
    position: fixed;
    -webkit-transition: right 0.3s ease-out;
    -moz-transition: right 0.3s ease-out;
    -o-transition: right 0.3s ease-out;
    transition: right 0.3s ease-out;
}

@media only screen and (min-width:1000px) {
    .top-btn.over {
        right: 15px;
    }
}

@media only screen and (max-width:999px) {
    .cont-top {}
    .cont-top h2 {
        font-size: 52px;
    }
    .cont-top p {
        margin-top: 10px;
        font-size: 24px;
        word-break: keep-all;
    }
    #top-vis h2 {
        font-size: 40px;
    }
    #top-vis .img img {
        height: 120px;
    }
    #top-vis .img.forum img {
        height: 150px;
    }
    #top-vis p {
        font-size: 14px;
    }
    .top-btn {
        width: 35px;
        height: 35px;
        bottom: 15px;
    }
}

@media only screen and (max-width:680px) {
    .cont-top {
        margin-bottom: 35px;
    }
    .cont-top.mc {
        text-align: center;
    }
    .cont-top h2 {
        font-size: 42px;
    }
    .cont-top p {
        font-size: 20px;
    }
    #top-vis h2 {
        font-size: 35px;
    }
    #top-vis .img img {
        height: 120px;
    }
    #top-vis p {
        font-size: 13px;
    }
    .top-btn {
        width: 30px;
        height: 30px;
        bottom: 10px;
    }
    .top-btn.over {
        right: 10px;
    }
}

@media only screen and (max-width:480px) {
    /* 여기에 모바일 이미지 넣어야함 */
    #top-vis {
        background: url(/assets/images/top-vis-writer-moblie.jpg) no-repeat left center;
    }
    .cont-top h2 {
        font-size: 32px;
    }
    .cont-top p {
        font-size: 16px;
    }
    #top-vis h2 {
        font-size: 29px;
    }
}


/* ======================================================
    #footer-wrap 
=========================================================*/

#footer-wrap {
    display: block;
    position: relative;
    background: #666
}

#footer {
    position: relative;
    padding: 35px 20px;
}

.f-logo {
    width: 207px;
    position: absolute;
    left: 20px;
    top: 35px;
    text-align: left;
}

.f-logo h2 {
    background: url(/assets/images/footer-logo.png) no-repeat left center;
    height: 37px;
}

.f-logo a {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    letter-spacing: -0.01em;
    margin-top: 7px;
    display: block;
    line-height: 1.2em;
}

.f-sns {
    position: absolute;
    left: 20px;
    top: 135px;
}

.f-sns ul {
    width: 229px;
    position: absolute;
    left: -8px;
    top: 0px;
    text-align: left;
}

.f-sns ul:after {
    display: block;
    content: "";
    clear: both;
}

.f-sns ul li {
    float: left;
    margin-right: 11px;
}

.f-sns ul li:nth-child(n+2) {
    margin-left: 9px
}

.f-sns ul li a {
    display: block;
    height: 54px;
    border-radius: 100%;
    width: 49px;
    /* border: 2px solid #fff; */
    box-sizing: border-box;
    background-size: 100% auto !important;
}

.f-sns ul li:nth-child(1) a {
    background: url(/assets/images/f-logo-perproject.png) no-repeat center center;
}

.f-sns ul li:nth-child(2) a {
    background: url(/assets/images/f-sns02.png) no-repeat center center;
}

.f-sns ul li:nth-child(3) a {
    background: url(/assets/images/f-sns03.png) no-repeat center center;
}

.f-info {
    padding-left: 320px;
    text-align: left;
}

.f-info .in-link {}

.f-info .in-link ul {
    padding-top: 15px;
}

.f-info .in-link li {}

.f-info .in-link li:nth-child(n+2) {
    margin-top: 15px;
}

.f-info .in-link li:nth-child(1) a {
    color: #fff;
    font-weight: 400;
}

.f-info .in-link li a {
    display: block;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.85);
    ;
    font-weight: 300;
    letter-spacing: -0.03em;
    line-height: 1.2em;
}

.f-info .in-copy {
    margin-top: 25px;
    display: block;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.01em;
    line-height: 1.2em;
    opacity: 0.75;
    font-weight: 300
}

.f-down {
    position: absolute;
    right: 20px;
    top: 85px;
    padding-left: 70px;
    background: url(/assets/images/perwallet.png) no-repeat left top;
    background-size: 55px auto;
    height: 73px;
}

.f-down p {
    padding-top: 5px;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    line-height: 1.2em;
    letter-spacing: 0.02em;
}

.f-down ul {
    margin-top: 10px;
}

.f-down ul:after {
    display: block;
    content: "";
    clear: both;
}

.f-down li {
    float: left;
}

.f-down li:nth-child(n+2) {
    margin-left: 7px;
}

.f-down li a {
    height: 34px;
    width: 100px;
    display: block;
}

.f-down li:nth-child(1) a {
    background: url(/assets/images/f-down01.png) no-repeat left center;
    background-size: 100% auto;
    -webkit-transition: background 0s ease-out;
    -moz-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
}

.f-down li:nth-child(2) a {
    background: url(/assets/images/f-down02.png) no-repeat left center;
    background-size: 100% auto;
}

@media only screen and (max-width:1060px) {
    .f-info {
        padding-left: 280px;
    }
}

@media only screen and (max-width:999px) {
    .f-logo {
        width: 170px
    }
    .f-logo h2 {
        background-size: 170px;
        height: 32px;
    }
    .f-logo a {
        font-size: 11px;
    }
    .f-info {
        padding-left: 240px;
    }
    .f-sns {
        top: 130px;
    }
    .f-sns ul li a {
        width: 48px;
        height: 48px;
        background-size: 90% auto !important;
        border-width: 1px;
    }
    .f-info .in-link ul {
        padding-top: 10px;
    }
    .f-info .in-link li:nth-child(n+2) {
        margin-top: 12px;
    }
    .f-info .in-copy {
        margin-top: 20px;
    }
}

@media only screen and (max-width:880px) {
    #footer-wrap {
        background: #565656
    }
    .f-logo {
        position: relative;
        left: auto;
        top: auto;
        text-align: center;
        margin: 0 auto;
        width: 170px
    }
    .f-info {
        padding-left: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        margin-top: 25px;
        padding-top: 25px;
        text-align: center;
    }
    .f-sns {
        top: auto;
        left: auto;
        position: relative;
        margin-top: 20px;
        text-align: center;
    }
    .f-sns ul {
        text-align: center;
        font-size: 0
    }
    .f-sns ul li {
        display: inline-block;
        vertical-align: top;
        margin: 0 3px;
        float: none;
    }
    .f-sns ul li a {
        width: 42px;
        height: 42px;
        background-size: 70% auto !important;
    }
    .f-info .in-link ul {
        text-align: center;
        font-size: 0;
        padding-top: 0;
    }
    .f-info .in-link ul li {
        display: inline-block;
        vertical-align: top;
    }
    .f-info .in-link li:nth-child(n+2) {
        margin-top: 0;
        margin-left: 15px;
    }
    .f-info .in-copy {
        margin-top: 12px;
        opacity: 0.6;
        font-size: 11px;
    }
    .f-down {
        position: relative;
        right: auto;
        top: auto;
        margin-top: 30px;
        height: auto;
        text-align: center;
        background-position: center top;
        padding-top: 65px;
        background-size: 47px auto;
        padding-left: 0;
    }
    .f-down ul {
        text-align: center;
        font-size: 0
    }
    .f-down ul li {
        display: inline-block;
        vertical-align: top;
        margin: 0 3px;
        float: none;
    }
}

@media only screen and (max-width:680px) {
    #footer {
        padding: 35px 15px;
    }
    .f-info {
        margin-top: 20px;
        padding-top: 20px;
    }
    .f-down p {
        font-size: 12px;
    }
}

@media only screen and (max-width:480px) {}