/**
	whitepaper skin css
*/

#white_wrap {
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

@media only screen and (max-width:1300px) {
    #white_wrap {
        width: 90%;
        /* margin: 0px 10px 0px 10px;
        padding: 0px 10px 0px 10px; */
    }
}

#white_wrap h3 {
    margin: 0 auto;
    display: block;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 60px;
    text-align: center;
    color: #000;
}

@media only screen and (max-width:418px) {
    #white_wrap h3 {
        margin: 0 auto;
        display: block;
        font-size: 25px;
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;
        color: #000;
    }
}

#white_wrap .white_content {
    padding-bottom: 50px;
}


/*퍼백서 내용 css 시작*/

#white_wrap .white_content .white_top {
    width: 100%;
}

#white_wrap .white_content .white_b {
    width: 100%;
}

#white_wrap .white_content .content_area {
    overflow: hidden;
    padding: 35px;
}

#white_wrap .white_content h4 {
    font-size: 35px;
    font-weight: 500;
    color: #1b1b1b;
    padding-bottom: 40px;
    display: block;
}

#white_wrap .white_content p {
    font-size: 18px;
    font-weight: 300;
    color: #333;
    line-height: 1.8;
    display: block;
    text-align: justify;
}

#white_wrap .white_content .p_bold {
    font-weight: 500;
    font-size: 18px;
    color: #444;
    line-height: 27px;
    display: inline-block;
}

#white_wrap .white_content .p_g {
    font-weight: 300;
    font-size: 18px;
    color: #999;
    line-height: 1.8;
    display: inline-block;
}

#white_wrap .white_content .text_g {
    display: block;
}

#white_wrap .white_content .text_g li {
    padding-bottom: 30px;
    display: block;
    line-height: 1.7;
}

#white_wrap .white_content .text_g li .list {
    display: block;
    padding-top: 5px;
    line-height: 1.8;
}

#white_wrap .white_content .text_g li .list li {
    display: block;
    font-size: 16px;
    color: #999;
    font-weight: 400;
    padding-bottom: 15px;
    line-height: 1.7;
}

#white_wrap .white_content .text_g .sub_title {
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 20px;
    color: #333;
    display: block;
    line-height: 1.7;
}

#white_wrap .white_content .content_area img {
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
}

#white_wrap .white_content .content_area .s_img {
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
}

#white_wrap .bt {
    margin-top: 50px;
    float: right;
    margin-bottom: 60px;
    display: block;
}

#white_wrap .bt li {
    display: block;
    float: left;
}

#white_wrap .bt li:first-child {
    padding-right: 15px;
}

i {
    font-size: 15px;
    cursor: pointer;
}


/******버튼 정의******/

.btn_box {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.btn1,
.btn_box .btn1 {
    text-align: center;
    display: inline-block;
    transition: 0.5s;
    padding: 0px 30px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    font-weight: 500;
    font-size: 15px;
    border-radius: 20px;
    border: 0;
    box-sizing: border-box;
}

.btn_yellow,
a.btn_yellow,
.btn_box a.btn_yellow {
    background: #fbb906;
    color: #fff!important;
}

.btn_black,
a.btn_black,
.btn_box a.btn_black,
.btn_yellow:hover,
a.btn_yellow:hover {
    background: #2a2a2a;
    color: #fff!important;
}

.btn_black:hover,
a.btn_black:hover {
    background: #fbb906;
}

.btn_grey,
a.btn_grey,
.btn_box a.btn_grey {
    background: #d3d3d3;
    color: #434343!important;
}

.btn_line,
a.btn_line,
.btn_box a.btn_line,
.btn_grey:hover,
a.btn_grey:hover {
    background: none;
    border: 1px solid #ccc!important;
    color: #2a2a2a;
}

.btn_line:hover,
a.btn_line:hover {
    background: #2a2a2a;
    color: #fff;
    transition: 1s;
}

.btn2 {
    display: inline-block;
    outline: none;
    transition: 0.5s;
    padding: 0px 15px;
    height: 37px;
    line-height: 37px;
    vertical-align: middle;
    font-weight: 500;
    font-size: 13px;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.btn_box2 {
    width: 100%;
    margin: 20px 0 40px 0;
    text-align: center;
}

.btn_mission {
    background: #2a2a2a;
    color: #fff!important;
}

.btn_mission:hover {
    background: #fff;
    color: #2a2a2a!important;
    font-weight: 500;
}